button{
    color: black;
    background:transparent;
    font: 24px "impact"
}
.keyboardbutton{
    background-image: url("key.svg");
    background-position: center;
    box-shadow:none;
    border:none;
    background-size: 100% 100%;

}
.keyboardbutton:checked{
    background-image: url("key_pressed.svg");
    background-position: center;
    background-size: 100% 100%;
    /*background: green; */
}
.mousebutton{
    background:white;
}
.mousebutton:checked{
    background:black;
}

.mousebutton#middle:checked{
    background:purple;
}
.mousebutton#cursor{
      border:none;
      border-width: 0;
      box-shadow: none;
          background-size: cover;
    background-position: center;
    background-color: transparent;
    outline:none;
    background-image: url("cursor.svg");
}
.mousewheel{
    background-color:transparent;
    border:none;
    border-width: 0;
    box-shadow: none;
    outline: none;
    border-radius: 0;
}
.mousewheel.down{
    background-position:center;
    background-size: 100% 100%;
    background-image: url("down_arrow.svg")
}
.mousewheel.up{
    background-size: 100% 100%;
    background-position:center;
    background-image: url("up_arrow.svg")
}
